{% extends "base.html" %}

{% block content %}
<section class="py-5 text-center container about_user"></section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row justify-content-center user_posts"></div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <button id="get_inst_photo" type="button" class="btn btn-outline-secondary">Больше постов</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}