<!DOCTYPE HTML>
<html lang="en">
<head>
    {% block head %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Digdes test lesson</title>

    <meta name="description" content="photo"/>
    <meta name="keywords" content="instagram, photo"/>
    {% endblock %}
</head>
<body class="pb-0">
<header>
    {% block header %}
    <div class="collapse bg-dark" id="navbarHeader">

    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-end">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark pl-0 justify-content-end">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav text-right">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Album</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/additional_task">Additional task</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/flexboxLayout">Flexbox Layout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    {% endblock %}
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer class="text-muted bg-dark">
    {% block footer %}


    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-muted">About</h4>
                <p class="text-muted">This is example of my skills doing sites with using knowledge of JS, HTML5,
                    CSS, Bootstrap 4, Python and Docker.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <ul class="list-unstyled">
                    <li><a href="https://twitter.com/double_spend" class="text-muted" target="_blank">Follow on
                        Twitter</a></li>
                    <li><a href="https://www.facebook.com" class="text-muted" target="_blank">Like on Facebook</a>
                    </li>
                    <li><a href="https://www.instagram.com/hugguh1234/" class="text-muted" target="_blank">Like on
                        Instagram</a></li>
                    <li><a href="mailto:ivanmyasnikov@icloud.com" class="text-muted">Email me</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}
</footer>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/static/jquery.min.js"></script>
{% endblock %}
</body>

</html>