{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/flexboxlayout.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block content %}
    <section class="py-5 text-center container about_user">
        <h1>Flexbox Layout</h1>
    </section>

    <div class="container task3">
        <div class="navDiv">
            <ul class="navigation">
                <li><a href="#">Home</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">About me</a></li>
                <li><a href="#">Partners</a></li>
                <li class="inputArea"><input></li>
                <li><a href="#">Sign in</a></li>
            </ul>
        </div>
        <div class="container task3">
            <div class="firstCol">
                <div class="cardPicTop">
                    <div class="topPicPostFrst">
                        <img src="/static/img/1.jpg" class="imgAdaptiveTop" alt="first photo">
                    </div>
                    <div class="cardLocalImg">
                        <div class="header"><a class="head">Hello World</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
                        <div class="cardFooter">
                            <div><a>By Joe Smith</a></div>
                            <div><a>42 comments</a></div>
                        </div>
                    </div>
                </div>
                <div class="cardLocal cardFirstCol">
                    <div class="header"><a class="head">Hello World</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
                    <div class="cardFooter">
                        <a>By Joe Smith</a>
                        <a>42 comments</a>
                    </div>
                </div>
                <div class="cardLocal cardFirstCol">
                    <div class="header"><a class="head">Hello World</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
                    <div class="cardFooter">
                        <a>By Joe Smith</a>
                        <a>42 comments</a>
                    </div>
                </div>
                <div class="cardLocal cardFirstCol">
                    <div class="header"><a class="head">Hello World</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
                    <div class="cardFooter">
                        <a>By Joe Smith</a>
                        <a>42 comments</a>
                    </div>
                </div>
            </div>
            <div class="secondCol">
                <div class="sidePic">
                    <div class="cardLocalImg">
                        <div class="header"><a class="head">Hello World</a>
                            <p class="textLeft">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                nulla pariatur.</p></div>
                        <div class="cardFooter">
                            <a>By Joe Smith</a>
                            <a>42 comments</a>
                        </div>
                    </div>
                    <div class="sidePicPostScnd">
                        <img src="/static/img/2.jpg" class="imgAdaptiveRight" alt="second photo">
                    </div>
                </div>
                <div class="container task3">

                    <div class="secFirstCol cardPicTop">
                        <div class="topPicPostSecSec">
                            <img src="/static/img/3.jpg" class="imgAdaptiveTop" alt="third photo">
                        </div>
                        <div class="cardLocalImgSecFrsrImg">
                            <div class="header"><a class="head">Hello World</a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
                            <div class="cardFooter">
                                <a>By Joe Smith</a>
                                <a>42 comments</a>
                            </div>
                        </div>
                    </div>
                    <div class="secSecCol">
                        <div class="cardPicTop">
                            <div class="topPicPost">
                                <img src="/static/img/4.jpg" class="imgAdaptiveTop" alt="fours photo">
                            </div>
                            <div class="cardLocalImg">
                                <div class="header"><a class="head">Hello World</a>
                                    <p>Lorem ipsum dolor sit amet.</p></div>
                                <div class="cardFooter">
                                    <a>By Joe Smith</a>
                                    <a>42 comments</a>
                                </div>
                            </div>
                        </div>
                        <div class="cardLocal">
                            <div class="header"><a class="head">Hello World</a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
                            <div class="cardFooter">
                                <a>By Joe Smith</a>
                                <a>42 comments</a>
                            </div>
                        </div>
                        <div class="cardLocal">
                            <div class="header"><a class="head">Hello World</a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
                            <div class="cardFooter">
                                <a>By Joe Smith</a>
                                <a>42 comments</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}