
.container_flex {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    color: #534f54;
    font-size: 0.7rem;
    padding: 0 1vw 1vw 1vw;
    margin: 0;
}

.navigation {
    color: #534f54;
    font-size: 0.7rem;
    padding: 0 1.5vw 1.5vh 1.5vw;
    margin: 0;
}

.navigation .nav_item:hover {
    background: #909090;
    cursor: pointer;
}

.card_img {
    max-width: 100%;
}

.card_local {
    background: #ffffff;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.card_footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.card_head {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1vh;
}

.first_photo{
    background: no-repeat center/50% url("http://188.226.188.212/static/img/1.jpg");
    background-size: cover;
    height: 100vh;
}

.second_photo {
    background: no-repeat center/50% url("http://188.226.188.212/static/img/2.jpg");
    background-size: cover;
    height: 70vh;
}

.third_photo {
    background: no-repeat center/50% url("http://188.226.188.212/static/img/3.jpg");
    background-size: cover;
    height: 80vh;
}

.fours_photo {
    background: no-repeat center/50% url("http://188.226.188.212/static/img/4.jpg");
    background-size: cover;
    height: 40vh;
}

@media all and (min-width: 1000px) {
    main {
        background-color: #8cd2ff;
        color: #909090;
    }

    .navigation {
        display: flex;
        flex-flow: row;
    }

    .first_nav_col {
        display: flex;
        flex-flow: row;
        justify-content: stretch;
        flex: 1 1 30%;
    }

    .second_nav_col {
        display: flex;
        flex-flow: row;
        justify-content: stretch;
        flex: 1 1 70%;
    }

    .second_nav_col .nav_item{
        flex: 1 1 30%;
    }

    .nav_item {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        flex: 1 auto;
        margin: 0 0.5vw 0 0.5vw;
        padding: 0.5vw;
    }

    .nav_input {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff5f;
        margin: 0 0.5vw 0 0.5vw;
        flex: 1 1 70%;
    }

    .input {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff00;
        flex: 1 1 70%;
        height: 100%;
        border: 0px;
    }

    .small_column {
        flex: 2 1 40%;
        display: flex;
        flex-direction: column;
    }

    .big_column {
        flex: 1 1 60%;
        display: flex;
        flex-direction: column;
    }

    .card_local {
        flex: 1 auto;
        padding: 1vw;
        margin: 1vw;
    }

    .side_img_card {
        display: flex;
        flex-flow: row-reverse;
    }

    .side_img, .side_text {
        flex: 1 1;
    }

    .side_text {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        margin-right: 1vw;
    }

}

@media (min-width: 600px) and (max-width: 1000px) {
    main {
        background-color: #c68a81;
        color: #909090;
    }

    .navigation {
        display: flex;
        flex-flow: row;
    }

    .first_nav_col {
        display: flex;
        flex-flow: row;
        justify-content: stretch;
        flex: 1 1 45%;
    }

    .second_nav_col {
        display: flex;
        flex-flow: row;
        justify-content: stretch;
        flex: 1 1 55%;
    }

    .second_nav_col .nav_item{
        flex: 1 1 30%;
    }

    .nav_item {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        flex: 1 auto;
        margin: 0 0.5vw 0 0.5vw;
        padding: 0.5vw;
    }

    .nav_input {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff5f;
        margin: 0 0.5vw 0 0.5vw;
        flex: 1 1 70%;
    }

    .input {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #c68a8100;
        flex: 1 1 70%;
        height: 100%;
        border: 0px;
    }

    .small_column, .big_column {
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
    }

    .card_local {
        flex: 1 auto;
        padding: 1vw;
        margin: 1vw;
    }

    .third_photo, .fours_photo {
        height: 40vh;
    }

    .p-0 {
        padding: 0;
    }
}

@media all and (max-width: 600px) {
    main {
        background-color: #b4b384;
        color: #909090;
    }

    .navigation {
        display: flex;
        flex-flow: column-reverse;
        justify-content: center;
    }

    .first_nav_col {
        display: flex;
        flex-flow: column;
        justify-content: stretch;
        flex: 1 1 auto;
    }

    .second_nav_col {
        display: flex;
        flex-flow: column;
        justify-content: stretch;
        flex: 1 1 auto;
        padding-bottom: 0.5vh;
    }

    .nav_item {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        flex: 1 auto;
        margin: 0 0.5vw 0 0.5vw;
        padding: 0.5vw;
        border-bottom: 0.1vh solid #909090;
    }

    .nav_input, .input {
        display: none;
    }

    .small_column {
        display: flex;
        flex-flow: column;
        align-items: center;
        flex: 1 1 100%;
        height: 100%;
    }

    .big_column {
        display: flex;
        flex-flow: column;
        align-items: center;
        flex: 1 1 100%;
        height: 100%;
        max-width: 100%;
    }

    .card_local {
        width: 96vw;
        padding: 1vw;
        margin: 1vw;
    }

    .first_photo, .second_photo,
    .third_photo, .fours_photo {
        height: 40vh;
    }
}