
.container .task3{
    display: flex;
    color: #534f54;
    font-size: 0.7rem;
    padding: 0;
    margin: 0;

}

.navigation {
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
}

.navigation li {
    background-color: #ffffff;
}

.navigation a {
    text-decoration: none;
    display: block;
    align-content: center;
    color: #534f54;
}

.navigation li:hover {
    background: #909090;
}

.cardPicTop, .sidePic {
    margin: 10px;
    background-color: white;
}

.cardLocal {
    padding: 0.7em 0.5em 0.5em 0.5em;
    margin: 10px;
    background-color: white;
}

.cardLocalImg {
    padding: 0.7em 0.5em 0.5em 0.5em;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardLocalImgSecFrsrImg {
    padding: 0.7em 0.5em 0.5em 0.5em;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgAdaptiveTop {
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
    }

.cardFooter {
    display: flex;
    justify-content: space-between;
}


@media all and (min-width: 1001px) {
    main {
        background-color: #8cd2ff;
        color: white;
    }

    .container {
        width: 1000px;
        justify-content: center;
    }

    .navDiv {
        display: flex;
        justify-content: space-around;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        width: 865px;
        height: auto;
        max-height: 100%;
        padding: 0;
        margin: 0;
    }

    .navigation li {
        padding: 10px;
    }

    .firstCol {
        display: flex;
        flex-direction: column;
        width: 235px;
        align-items: center;
    }

    .cardFirstCol {
        height: 144.3px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .secondCol {
        display: flex;
        flex-direction: column;
        width: 650px;
    }

    .sidePic {
        display: flex;
        margin: 10px;
        width: auto;
        height: 250px;
    }

    .secFirstCol {
        display: flex;
        flex-direction: column;
        width: 470px;
        justify-content: space-between;
    }

    .secSecCol {
        display: flex;
        flex-direction: column;
        width: 230px;
    }

    .topPicPostFrst {
        height: 200px;
    }

    .imgAdaptiveRight {
        width: 100%;
        height: 100%;
    }

    .sidePicPostScnd {
        display: inline-block;
        width: 100%;
        height: auto;
        max-height: 100%;
    }

    .cardLocalImgSecFrsrImg {
        height: 150px;
    }

    .topPicPostSecSec {
        height: 410px;
    }

    .textLeft {
        display: inline-block;
        width: 350px;
    }

    .head {
        font-size: 0.9rem;
        font-weight: 600;
        padding: 10px 0 10px 0;
    }
}

@media (min-width: 801px) and (max-width: 1000px) {
    main {
        background-color: #c68a81;
        color: white;
    }

    .container {
        width: 800px;
    }

    .navDiv {
        display: flex;
        justify-content: space-around;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        width: 670px;
        height: auto;
        max-height: 100%;
        padding: 0;
        margin: 0;
    }

    .navigation li {
        padding: 10px;
    }

    .firstCol, .secondCol {
        display: flex;
        flex-direction: column;
        width: 345px;
    }

    .cardFirstCol {
        height: 192.7px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .secFirstCol {
        display: flex;
        flex-direction: column;
        width: 155px;
        justify-content: space-between;
    }

    .secSecCol {
        display: flex;
        flex-direction: column;
        width: 175px;
    }

    .topPicPostFrst {
        height: auto;
    }

    .sidePic {
        display: flex;
        flex-flow: column-reverse;
        margin: 10px;
        width: auto;
        height: 547.75px;
    }

    .sidePicPostScnd {
        display: flex;
        flex-flow: column-reverse;
        width: 100%;
        height: auto;
        max-height: 100%;
    }

    .imgAdaptiveRight {
        height: 385px;
    }

    .cardLocalImgSecFrsrImg {
        height: 100%;
    }

    .head {
        font-size: 0.9rem;
        font-weight: 600;
        padding: 10px 0 10px 0;
    }
}

@media all and (max-width: 800px) {
    main {
        background-color: #b4b384;
        color: white;
    }

    .container {
        width: 750px;
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navDiv {
        padding: 10px;
    }

    .navigation {
        -webkit-flex-flow: column-reverse wrap;
        flex-flow: column-reverse wrap;
        padding: 0;
    }

    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .navigation li:last-of-type a {
        border-bottom: none;
    }

    .inputArea {
        display: none;
    }

    .firstCol, .secondCol {
        display: flex;
        flex-direction: column;
        width: 350px;
    }

    .topPicPostFrst, .imgAdaptiveRight {
        display: block;
        width: 100%;
        height: auto;
        max-height: 100%;
    }

    .sidePic {
        display: flex;
        flex-flow: column-reverse;
        margin: 10px;
        width: auto;
    }

    .sidePicPostScnd {
        display: flex;
        flex-flow: column-reverse;
        width: 100%;
        height: auto;
        max-height: 100%;
    }

    .head {
        font-size: 0.9rem;
        font-weight: 600;
        padding: 10px 0 10px 0;
    }

}